<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script><!doctype html>
<HTML LANG="EN">
<link rel="stylesheet" type="text/css" href="keyboard.css">
<title>"Keyboard"</title>
  <img class="logo"></img>
  <div class="monitor"><div class="console"></div></div>
<div class="kcontainer">
  <div class="first row">
    <div class="key leftborder">
      ~
    </div>
    <div class="key">
      !
    </div>
    <div class="key">
      @
    </div>
    <div class="key">
      #
    </div>
    <div class="key">
      $
    </div>
    <div class="key">
      %
    </div>
    <div class="key">
      ^
    </div>
    <div class="key">
      &
    </div>
    <div class="key">
      *
    </div>
    <div class="key">
      (
    </div>
    <div class="key">
      )
    </div>
    <div class="key">
      _
    </div>
    <div class="key">
      +
    </div>
    <div class="key bksp">
      &lt;==
    </div>
  </div>
  
  <div class="second row">
  
    <div class="key tab leftborder">
      =&gt; Tab
    </div>
    
    <div class="key">
      Q
    </div>
    <div class="key">
      W
    </div>
    <div class="key">
      E
    </div>
    <div class="key">
      R
    </div>
    <div class="key">
      T
    </div>
    <div class="key">
      Y
    </div>
    <div class="key">
      U
    </div>
    <div class="key">
      I
    </div>
    <div class="key">
      O
    </div>
    <div class="key">
      P
    </div>
    <div class="key">
      {
    </div>
    <div class="key">
      }
    </div>
    <div class="key">
      |
    </div>
  </div>
  
  <div class="third row">
    <div class="key leftborder">
      A
    </div>
    <div class="key">
      S
    </div>
    <div class="key">
      D
    </div>
    <div class="key">
      F
    </div>
    <div class="key">
      G
    </div>
    <div class="key">
      H
    </div>
    <div class="key">
      J
    </div>
    <div class="key">
      K
    </div>
    <div class="key">
      L
    </div>
    <div class="key">
      :
    </div>
    <div class="key">
      "
    </div>
    <div class="key enter special">
      Enter
    </div>
  </div>
  
  <div class="fourth row">
    <div class="key shift special">
      Shift
    </div>
    <div class="key">
      Z
    </div>  
      <div class="key">
      X
    </div>
      <div class="key">
      C
    </div>
      <div class="key">
      V
    </div><div class="key">
      B
    </div><div class="key">
      N
    </div><div class="key">
      M
    </div>
      <div class="key">
      &lt;
    </div>
      <div class="key">
      &gt;
    </div>
      <div class="key">
      ?
    </div>
      <div class="key shift special">
      Shift
    </div>
  </div>
  
  <div class="fifth row">
    <div class="key accept special">
      Accept
    </div>
    <div class="key space">
      
    </div>
    <div class="key cancel special">
      Cancel
    </div>
  </div>
</div>
</html>
