.kcontainer{
  width:90vw;
  height:35vh;
  background-color: #111;
  border-radius: 2vw;
  position:absolute;
  margin-left:5vw;
  margin-top:60vh;
  

}
.key{
  width:5vw;
  height:6vh;
  display:block;
  float:left;
  margin-left:0.5vw;
  background-color:#333;
  color: #40FF00;
  text-align: center;
  border-radius:20%;
  border:none;
  cursor: pointer;
  transition: box-shadow 0s;
  font-size:4vh;
  user-select: none;
}
.row
{
  width:90vw;
  height:6vh;
  margin-top:0.5vh;
}
.first.row{
  margin-left:3.5vw;
  margin-top:1vh;
  
}
.second.row{
  margin-left:1.5vw;
}
.second.row .key{
  margin-left:0.7vw;
}
.third.row{
  margin-left:7.5vw;
}
.third-row .key{
  margin-left:0.9vw;
}
.fourth.row{
  margin-left:5.5vw;
}
.shift{
  width:11vw;
  border-radius:7%;
  
}
.fifth.row{
  margin-left:13vw;
}
.fifth-row .key{
  margin-left:1.5vw;
}
.bksp{
  width:10vw;
  border-radius:7%;
  font-size:4vh;
}
.tab{
  background-color:#333;
  width:11vw;
  border-radius:7%;
  font-size:4vh;
}

.enter{
  width:11vw;
  border-radius:7%;
  font-size:4vh;
}
.special{
  background-color:#40FF00;
  color: #111;
  font-size:4vh;
}

.space{
  width:35vw;
  border-radius:7%;
}
.accept{
  width:11vw;
  border-radius:7%;
  font-size:4vh;
}
.cancel{
  width:11vw;
  border-radius:7%;
  font-size:4vh;
}

.key:hover{
  box-shadow:0px 0px 2vw #FF0000;
}
.key:active{
  color:#111;
  background-color:#40FF00;
}
.special:active{
  color:#eee;
  background-color:#FF0000;
}
.monitor
{
  height:45vh;
  width:80vw;
  position:absolute;
  background-color:#393a3d;
  margin-left:10vw;
  margin-top:5vh;
  border-radius:1vw;
}
.console
{
  height:35vh;
  width:75vw;
  background-color:black;
  margin-left:2.5vw;
  margin-top:2.5vh;
  color:#00F900;
  
}
.logo
{
  content:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/692f2574-4c51-45e7-9e27-461571619240/d2aedut-f186440b-a183-4b64-bfb6-6fd84358fe31.png/v1/fill/w_799,h_1000,strp/alienware_logo_1_by_panchari_d2aedut-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTEyNyIsInBhdGgiOiJcL2ZcLzY5MmYyNTc0LTRjNTEtNDVlNy05ZTI3LTQ2MTU3MTYxOTI0MFwvZDJhZWR1dC1mMTg2NDQwYi1hMTgzLTRiNjQtYmZiNi02ZmQ4NDM1OGZlMzEucG5nIiwid2lkdGgiOiI8PTkwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JYwlXcZijRhewBaUR_Qk0q1ueSE_pSMv5Tvl_yRb47Q);
  position:absolute;
  width:4vh;
  height:5vh;
  margin-left:49.5vw;
  margin-top:44vh;
  z-index:9999;
}
.output
{
  margin-left:1vw;
}
.toogle
{
  width:10vw;
  height:5vh;
  background-color:red;
  position:absolute;
  text-align:center;
  font-size:3vh;
  margin-left:45vw;
  margin-top:55vh;
  cursor:pointer;
}
